* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


/* Small screens */
@media (min-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .container-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 400;
    font-size: .7em;
    padding: 10px 20px;
  }
    
  .underlined {
    border-bottom: 1px solid #d3d3d3;
  }
  
  .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .list-item {
    margin: 5px 10px 0px 0px;
    display: flex;
    align-items: center;
  }
  
  .list-item--left-border {
    cursor: pointer;
  }

  .list-item-icon {
    margin-right: 10px;
  }

  .logo {
    max-width: 15%;
    /* height: 100%; */
  }

  .search {
    justify-content: space-between;
    align-items: center;
  }

  .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: none;
    background-color: transparent;
    padding: 5px;
  }

  div.search-box {
    border-bottom: 2px solid #808080;
  }

  .search-box-field:enabled,
  .search-box-button:enabled {
    outline: none;
  }

  .search-box-field {
    font-weight: 300;
    font-size: 1em;
  }

  .search-box-button {
    cursor: pointer;
    width: 15px;
    height: 100%;
  }

  .search-box-button img {
    width: 10px;
  }

  .basket-link {
    display: none;
  }

  .basket-icon {
    background-image: url('./images/basket.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .burger-nav {
    background-image: url('./images/burger-nav.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .menu {
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 10px;
    justify-content: flex-start;
    border-bottom: 1px solid #d3d3d3;
  }

  .menu--opened {
    height: auto;
    overflow: visible;
    border-top: 1px solid #d3d3d3;
  }

  .menu > .list {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 5px;
  }

  .list-item-link {
    padding-bottom: 5px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.1em;
  }

  .list-item-link:hover {
    color: #ecc7d0;
    transition: .5s;
  }
}

/* Medium screen */
@media (min-width: 768px) {
  .container-item:first-child{
    padding: 0;
  }

  .list {
    flex-direction: row;
  }

  .list-item {
    padding-left: 15px;
    font-size: .85em;
  }

  .list-item--left-border {
    border-left: 1px solid #d3d3d3;
    margin-top: 0;
    margin-right: 20px;
    height: 45px;
  }

  .search {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3%;
  }
  
  .logo {
    padding-top: 2vh;
    max-width: 10%;
  }

  .search-box-field {
    font-size: 1.3em;
    width: 35vh;
  }

  .search-box-button img {
    width: 30px;
  }

  .basket {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
  }

  .basket-icon {
    width: 20px;
    height: 20px;
  }

  .basket-link {
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
  }

  .burger-nav {
    display: none;
  }

  .menu {
    overflow: visible;
    height: 40%;
    padding: 0;
    text-align: center;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
  }

  .menu > .list {
    flex-direction: row;
    font-size: .85rem;
    /* font-size: 1.05em; */
  }

  .menu > .list > .list-item {
    padding-left: .7em;
    margin: 0;
  }

}

/* Large screens */
@media (min-width: 1200px) {
  .list-item {
    font-size: 1.2em;
  }

  .search {
    margin-top: 1%;
    width: 70%;
    margin-left: 15%;
    justify-content: space-between;
  }

  .logo {
    padding-top: 1em;
  }

  .search-box-button {
    width: 20px;
  }

  .search-box-button img {
    width: 15px;

  }

  .basket {
    padding-top: 2em;
  }

  .basket-icon {
    width: 32px;
    height: 35px;
    background-size: 32px 35px;
    margin-right: .5em;
  }

  .basket-link {
    font-size: 1.4em;
  }

  .menu {
    width: 70%;
    margin-left: 15%;
  }

  .menu > .list {
    padding-bottom: 2em;
    width: 100%;
    justify-content: space-around;
  }

  .menu > .list > .list-item {
    /* padding-left: .2em; */
    text-align: center;
    justify-content: center;
    padding: 0 1vw;
    font-size: 1.1em;
    font-weight: 700;
  }

  .menu > .list > .list-item:first-child {
    padding-left: 0;
  }
}